$primary_color: #DEB12C;
$secondary_color: #1C2E40;
$dark: #1B1B1B;
$dark_text: #1C1C1C;
$dark_gray: #4B4B4B;
$white: #FFFDF7;
$placeholder: #9A9A9A;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
